extends ./layout.jade
block content
  body
    h1 Welcome to #{title}
    form(method="post" action="/create")
      label(for="new-task") Enter new task: 
      input(type="text" id="new-task" name="task")
      button(type="submit") Add
    h3 My TODO's
    ul
      for task in tasks
        li #{task.task} 
      else
        |Sorry, no tasks found
